<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbconsulting.a1list" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.DispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <!-- For these non-resource options, use android:value -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <!--
                            <meta-data
                            android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_HELP_TEXT"
                            android:value="@string/password_reset_text"/>
            -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.MIN_PASSWORD_LENGTH"
                android:value="8" />
        </activity>

        <!--<activity-->
            <!--android:name=".activities.TestDataActivity"-->
            <!--android:label="@string/title_activity_test_data"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
        <!--</activity>-->

        <service
            android:name=".services.UploadDirtyObjectsService"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.ListThemeActivity"
            android:label="@string/title_activity_test2"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.a1list.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ManageListsAndThemesActivity"
            android:label="@string/title_activity_manage_lists_and_themes"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.a1list.activities.MainActivity" />
        </activity>
    </application>

</manifest>
